E:\GitRepository\GIT_KER_YSL_SSC_ODI3\Master Repository\
E:\GitRepository\GIT_KER_YSL_SSC_ODI3\Work Repository\FormatTypes\
E:\GitRepository\GIT_KER_YSL_SSC_ODI3\Work Repository\Global Objects\Global Templates\
E:\GitRepository\GIT_KER_YSL_SSC_ODI3\Work Repository\Global Objects\Knowledge Modules\
E:\GitRepository\GIT_KER_YSL_SSC_ODI3\Work Repository\Global Objects\User Functions\
E:\GitRepository\GIT_KER_YSL_SSC_ODI3\Work Repository\Models\ORACLE_CUSTOM\
E:\GitRepository\GIT_KER_YSL_SSC_ODI3\Work Repository\Models\ORACLE_ORCHESTRATOR\
E:\GitRepository\GIT_KER_YSL_SSC_ODI3\Work Repository\Models\ORACLE_STD\
E:\GitRepository\GIT_KER_YSL_SSC_ODI3\Work Repository\Models\XML_SAP_STD\
E:\GitRepository\GIT_KER_YSL_SSC_ODI3\Work Repository\Projects\ORCHESTRATOR_INTEGRATION\
E:\GitRepository\GIT_KER_YSL_SSC_ODI3\Work Repository\Projects\PRJ_EPMASTER_STD\
E:\GitRepository\GIT_KER_YSL_SSC_ODI3\Work Repository\Projects\PRJ_NICIM_STD\
E:\GitRepository\GIT_KER_YSL_SSC_ODI3\Work Repository\Projects\PRJ_SAP_STD\
E:\GitRepository\GIT_KER_YSL_SSC_ODI3\Work Repository\Projects\PRJ_SEDAPTA_SERVICES\
